<%= simple_form_for publication do |f| %>
  <div class="form-group">
    <%= f.input :title, label: 'Título' , required: true, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :year, label: 'Ano' , required: true, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :abstract, label: 'Resumo' , as: :text, required: true, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :theme, label: 'Tema' , collection: Publication::THEMES, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :category, label: 'Categoria' , collection: Publication::CATEGORIES, input_html: { class: 'form-control' } %>
  </div>
    <%= f.button :submit, 'Update Publication' , class: 'btn btn-primary' %>
<% end %>
