<h1>Membros</h1>
<%= link_to 'Novo membro', new_author_path, class: "btn btn-primary" %>
<div class="row">
  <div class="col-md-6">
    <% @authors.each do | author | %>
        <div class="panel-body">
          <ul class="basic-list image-list">
            <li>
              <% if author.avatar_img.attached? %>
                <%= cl_image_tag author.avatar_img.key, height: 100 %>
              <% else %>
                <img class="d-flex" src="<%= author.avatar_img %>" alt="">
              <% end %>
              <b>
                <%= link_to author.name, author_path(author) %>
              </b>
              <span class="desc">
                <%= author.qualification %>
              </span>
            </li>
          </ul>
        </div>
    <% end %>
  </div>
</div>
