<section class="home-blog bg-sand">
  <div class="container">
    <!-- section title -->
    <div class="row justify-content-md-center">
      <div class="col-xl-5 col-lg-6 col-md-8">
        <div class="section-title text-center title-ex1">
          <h1>Livros</h1>
        </div>
      </div>
    </div>
    <!-- section title ends -->
    <div class="row ">
      <% @books.each do | book | %>
        <div class="col-md-6">
          <div class="media blog-media">
            <img class="d-flex" src="<%= book.cover_img %>" alt="">
            <div class="media-body">
              <h5 class="mt-0">
                <%= link_to book.title, publication_path(book) %>
              </h5>
              <p>
                <%= book.abstract %>
              </p>
              <ul>
                <li>by: Admin</li>
                <li class="text-right">
                  <span>
                    <%= book.year %>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="row justify-content-md-center">
      <div class="col-xl-5 col-lg-6 col-md-8">
        <div class="section-title text-center title-ex1">
          <h1>Cartilhas</h1>
        </div>
      </div>
    </div>
    <!-- section title ends -->
    <div class="row ">
      <% @booklets.each do | booklet | %>
        <div class="col-md-6">
          <div class="media blog-media">
            <img class="d-flex" src="<%= booklet.cover_img %>" alt="">
            <div class="media-body">
              <h5 class="mt-0">
                <%= link_to booklet.title, publication_path(booklet) %>
              </h5>
              <p>
                <%= booklet.abstract %>
              </p>
              <ul>
                <li>by: Admin</li>
                <li class="text-right">
                  <span>
                    <%= booklet.year %>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>


  </div>
</section>
