<!DOCTYPE html>
<html>
  <head>
    <title>RailsGpeesc</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <nav>
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Membros", membros_path %></li>
          <li><%= link_to "Publicações", publicacoes_path %></li>
          <li><%= link_to "Livros", livros_path %></li>
        </ul>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
